body {

    color: white;
}

.jumbotron {
    background-color: blue;
    background-image: url("../images/Bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
    text-emphasis-color: white;
  }

.panel-primary {
    background-color: rgb(7, 7, 61);
}

.well {
    background-color: rgb(7, 7, 61);
}

.row {
    background-color: tan;
}